<html>
    <head>
        <link rel = "stylesheet" href = "styles.css">
        <img src = "mylogo2.jpg";> </br>
    </head>
    <body>
        <h1>Welcome...To the ToDo App.</h1> </br>
        
        <ul>
            <li><h3><a href="/">Home</a></h3></li>
                <li><h3><a href="/newtask">Add New Task</a></h3></li>
                <li><h3><a href="/newdeveloper">Add New Developer</a></h3></li>
                <li><h3><a href="/listtasks">List of Tasks</a></h3></li>
                <li><h3><a href="/listdevelopers">List of Developers</a></h3></li>
                <li><h3><a href="/updatetask">Update Task</a></h3></li>
                <li><h3><a href="/deletetask">Delete Task</a></h3></li>
                <li><h3><a href="/deleteCompletedTasks">Delete Completed Tasks</a></h3></li>
        </ul>

    </body>
</html>
